// Colors
// --------------------------------------------------
$white: #FFF;
$black: #000;
$grey1: #A8A8A8;
$blue1: #00A8CD;
$green1: #5BAB37;


// Type
//--------------------------------------------------
$paragraph: 1em;
$paragraph-small: 0.878em;
$h1: 1.476em !important;
$h2: 1.296em !important;
$h3: 1.138em !important;
$h4: 0.878em !important;
$h5: 0.723em !important;
$h6: 0.678em !important;


// Z-Index Scale
// --------------------------------------------------
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;


// Animation
// --------------------------------------------------
$transition: .2s ease-in-out;


// Shadows
// --------------------------------------------------
$short-shadow: 0 2px 2px rgba(0,0,0,0.2);
$deep-shadow: 0 4px 2px rgba(0,0,0,0.2);


// Border Radius
// --------------------------------------------------
$border-radius: 2px;


// Buttons
// --------------------------------------------------
button {
  &.btn-blue {
    color: white;
    background-color: $blue1;
    border-radius: 2px;
    padding: 4px 40px 4px 40px;
    height: 60px;
    line-height: 16px;
    font-size: 16px;
    border: none;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.3);
     &:focus {
       outline: none;
     &:hover {
       cursor: pointer;
       background-color: darken($blue1, 10%);
       transition: all .2s ease-in-out;
     &:active {
       background-color: darken($blue1, 10%);
       box-shadow: inset 0 2px 1px rgba(0,0,0,.3);
        }
      }
    }
  }


  &.btn-grey {
    color: #777;
    background-color: #F9F9F9;
    border-radius: 2px;
    padding: 4px 40px 4px 40px;
    height: 60px;
    line-height: 16px;
    font-size: 16px;
    border: none;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.3);
     &:focus {
       outline: none;
     &:hover {
       cursor: pointer;
       background-color: darken($grey1, 10%);
       transition: all .2s ease-in-out;
     &:active {
       background-color: darken($grey1, 10%);
       box-shadow: inset 0 2px 1px rgba(0,0,0,.3);
        }
      }
    }
  }

    &.btn-green {
    color: white;
    background-color: $green1;
    border-radius: 2px;
    padding: 4px 40px 4px 40px;
    height: 60px;
    line-height: 16px;
    font-size: 16px;
    border: none;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,.3);
     &:focus {
       outline: none;
     &:hover {
       cursor: pointer;
       background-color: darken($green1, 10%);
       transition: all .2s ease-in-out;
     &:active {
       background-color: darken($green1, 10%);
       box-shadow: inset 0 2px 1px rgba(0,0,0,.3);
        }
      }
    }
  }
}

// Text
// --------------------------------------------------
// ex: txt-r = text-align: right;
$txt-directions: (
  (l, left),
  (r, right),
  (c, center)
);

@each $d, $txt-direction in $txt-directions {
  .txt-#{$d}{
    text-align: $txt-direction
  }
}

// Spacing Helpers
// --------------------------------------------------
// ex: mtxl = margin-top: 20px
//
$orientation_list: (
  v,
  h,
  a
);
$direction_list: (
  (t, top),
  (r, right),
  (b, bottom),
  (l, left)
);
$space_sizes:
  (n, 0px!important),
  (s, 5px!important),
  (m, 7px!important),
  (l, 10px!important),
  (xl, 20px!important),
  (xxl, 40px!important),
  (xxxl, 120px!important)
;
@each $direction_list, $direction in $direction_list {
  @each $space_sizes, $size in $space_sizes {
    .p#{$direction_list}#{$space_sizes} {
      padding-#{$direction}: $size;
    }
    .m#{$direction_list}#{$space_sizes} {
      margin-#{$direction}: $size;
    }
  }
}
@each $orientation_list, $orientation in $orientation_list {
  @each $space_sizes, $size in $space_sizes {
    @if $orientation_list == "v" {
      .p#{$orientation_list}#{$space_sizes} {
        padding-bottom: $size;
        padding-top: $size;
      }
      .m#{$orientation_list}#{$space_sizes} {
        margin-bottom: $size;
        margin-top: $size;
      }
    }
    @else if $orientation_list == "h" {
      .p#{$orientation_list}#{$space_sizes} {
        padding-left: $size;
        padding-right: $size;
      }
      .m#{$orientation_list}#{$space_sizes} {
        margin-left: $size;
        margin-right: $size;
      }
    }
    @else {
      .p#{$orientation_list}#{$space_sizes} {
        padding: $size;
      }
      .m#{$orientation_list}#{$space_sizes} {
        margin: $size;
      }
    }
  }
}
